.root {
    composes: grid from global;
    composes: grid-cols-autoFirst from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
}


.text {
    composes: hidden from global;
}