.root {
    composes: root from '~@magento/venia-ui/lib/components/Newsletter/newsletter.module.css';
    composes: py-8 from global;
}

.title {
    composes: text-white from global;
    composes: font-bold from global;
    composes: text-lg from global;
}