.root {
    composes: bg-white/75 from global;
    composes: bottom-0 from global;
    composes: grid from global;
    composes: left-0 from global;
    composes: max-w-modal from global;
    composes: opacity-0 from global;
    composes: overflow-hidden from global;
    composes: fixed from global;
    composes: top-0 from global;
    composes: w-full from global;
    composes: z-menu from global;
    composes: backdrop-blur-sm from global;
    composes: rounded-r-lg from global;
    grid-template-rows: auto 1fr auto;
    transform: translate3d(-100%, 0, 0);
    transition-duration: 192ms;
    transition-property: opacity, transform, visibility, backdrop-filter;
    transition-timing-function: var(--venia-global-anim-out);

    /* TODO @TW: review (B6) */
    /* composes: invisible from global; */
    visibility: hidden;
}

.root_open {
    composes: root;

    composes: backdrop-blur-lg from global;
    composes: opacity-100 from global;
    composes: shadow-modal from global;
    transform: translate3d(0, 0, 0);
    transition-duration: 384ms;
    transition-timing-function: var(--venia-global-anim-in);

    /* TODO @TW: review (B6) */
    /* composes: visible from global; */
    visibility: visible;
}

.switchers {
    composes: hidden from global;
}