.contents_open {
    composes: contents_open from '~@magento/venia-ui/lib/components/AccountMenu/accountMenu.module.css';

    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-brand-darkest from global;
    composes: rounded-lg from global;
}
