.megaMenu {
    composes: col-end-12 from global;
    composes: col-start-1 from global;
    composes: row-start-2 from global;
    composes: row-end-3 from global;
    composes: flex-grow from global;
    composes: hidden from global;
    composes: justify-self-center from global;
}

/* Large screen styles */
.megaMenu {
    composes: lg_flex from global;
}
