.root {
    composes: items-center from global;
    composes: justify-items-center from global;
    composes: justify-self-center from global;
    composes: max-w-site from global;
    composes: px-xs from global;
    composes: py-0 from global;
    composes: w-full from global;
    composes: col-start-3 from global;
    composes: col-end-8 from global;
    composes: row-start-1 from global;
    composes: row-end-1 from global;


    /* TODO @TW: review (B6) */
    /* composes: hidden from global; */
    display: none;
}

.root_open {
    composes: root;
    composes: lg_static from global;
    composes: absolute from global;
    composes: top-16 from global;
    composes: left-0 from global;
    composes: w-full from global;

    composes: z-dropdown from global;

    /* TODO @TW: review (B6) */
    /* composes: grid from global; */
    display: grid;
}
