.toolbar {
    composes: border-0 from global;
    composes: content-center from global;
    composes: gap-x-4 from global;
    composes: grid from global;
    composes: grid-cols-3 from global;
    composes: grid-rows-header from global;
    composes: h-14 from global;
    composes: items-center from global;
    composes: justify-self-center from global;
    composes: max-w-site from global;
    composes: w-full from global;
    composes: z-header from global;

    composes: lg_h-28 from global;
    composes: lg_gap-x-8 from global;
    composes: lg_grid-cols-12 from global;
    composes: lg_grid-rows-2 from global;
}