.root {
    composes: root from '~@magento/venia-ui/lib/components/Checkbox/checkbox.module.css';

    --stroke: rgb(var(--venia-global-color-gray-600));

}

.input {
    composes: input from '~@magento/venia-ui/lib/components/Checkbox/checkbox.module.css';
}

.icon {
    composes: icon from '~@magento/venia-ui/lib/components/Checkbox/checkbox.module.css';
}

.label {
    composes: label from '~@magento/venia-ui/lib/components/Checkbox/checkbox.module.css';

}

.icon svg {
    stroke: var(--stroke);
}

.input:disabled ~ .label {
    cursor: default;
}

.input:checked:enabled + .icon {
    --stroke: theme(colors.brand.600);
}

.input:active:enabled,
.input:focus:enabled {
    box-shadow: none;
    outline: none;
}
