.root {
    composes: bg-brand-dark from global;
    composes: text-white from global;
}
.links {
    composes: links from '~@magento/venia-ui/lib/components/Footer/footer.module.css';
    composes: mb-8 from global;
    composes: max-w-site from global;
    composes: mx-auto from global;
}

.linkGroup {
    composes: col-span-3 from global;
    composes: content-start from global;
    composes: gap-xs from global;
    composes: grid from global;

    composes: xs_col-span-3 from global;
}

.branding {
    composes: branding from '~@magento/venia-ui/lib/components/Footer/footer.module.css';
    composes: bg-brand-darkest from global;
}